# OS-specific
.DS_Store

# Vagrant
.vagrant/

# Python
*.pyc
*.pyo

# Django
*.db

# IDE-specific
*.project
*.pydevproject

# Node, SASS and Bower
/.sass-cache/
/bower_components
/node_modules

# Code Coverage
.coverage

# Log files
*.log
*.log.*

# config files
*.json

# uploaded media
media/*
